packages:
  yum:
    libX11: []
    xorg-x11-server-Xvfb: []
    alsa-lib: []
    atk: []
    cups-libs: []
    gtk3: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXfixes: []
    libXi: []
    libXrandr: []
    libXScrnSaver: []
    libXtst: []
    pango: []
    xdg-utils: []

commands:
  01_add_google_repo:
    command: |
      cat > /etc/yum.repos.d/google-chrome.repo << 'EOF'
      [google-chrome]
      name=google-chrome
      baseurl=http://dl.google.com/linux/chrome/rpm/stable/x86_64
      enabled=1
      gpgcheck=1
      gpgkey=https://dl.google.com/linux/linux_signing_key.pub
      EOF

  02_install_chrome:
    command: "yum -y install google-chrome-stable"
